body {
    background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/school.png");
}

i {
    cursor: pointer;
}

.card-content {
    height: 100px;
    transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: height 0.25s ease-in;
    -o-transition: height 0.25s ease-in;
    transition: height 0.25s ease-in;
}

.card-content .card-title, .card-content li input {
    font-weight: 200 !important;
    border: none;
    letter-spacing: 2px;
}


table tbody tr .todoInput {
    margin-bottom: 0px;
    height: 1.4rem;
    border: none;
    color: #9e9e9e;
    letter-spacing: 1px;
    font-weight: 200;
    font-size:0.9em;
    width: 100%;
}

table tbody tr .checkboxCol, table tbody tr .delCol {
    width: 5%;
}

table tbody tr .checkboxCol {
    padding-bottom: 20px;
}

table tbody tr .checkboxCol label {
    display: inline !important;
}

table tbody tr .textCol{

    width: 90%;
}

table tbody tr .textCol form, form {
    margin:0;
}

table tbody tr .textCol form input {
    color: #FFFFFF;
}

.card-action a {
    margin-right: 0px !important;

}

.card-action a i {
    padding: 0px 5px;
    cursor: pointer;
}

.card-content .sadFace {
    font-size:100px;
    width:100%;
    display:inline-block;
    text-align: center;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.card-content p {
    font-size:10px;
    width:100%;
    text-align: center;
}

.completed {
    text-decoration: line-through;
    font-style: italic;
    color: #9e9e9e !important;
}
