.card-content .card-title, .card-content li input {
    font-weight: 200 !important;
    border: none;
    letter-spacing: 2px;
}

table tbody tr .todoInput {
    margin-bottom: 0px;
    height: 1.4rem;
    border: none;
    color: #9e9e9e;
    letter-spacing: 1px;
    font-weight: 200;
    font-size:0.9em;
    width: 100%;
}

table tbody tr .checkboxCol, table tbody tr .delCol {
    width: 5%;
}

table tbody tr .textCol{
    width: 90%;
}

