.card-content .card-title, .card-content li input {
    font-weight: 200 !important;
    border: none;
    letter-spacing: 2px;
}

.card-content ul{
    margin-top: 30px;
}

<<<<<<< HEAD

.card-content li{
    height: 40px;
    display: block;
}

.card-content li *{
}

.card-content li input{
    height: 1.6rem !important;
    font-size: 0.9em;
}

.card-content li input{
    height: 1.4rem !important;
    font-size: 0.9em;
    color: #9e9e9e;
}

.card-content li i{
    font-size: 20px;
    cursor: pointer;
}
=======
    .demo-card-wide > .mdl-card__title {
    height: 70px;
    }
    .lowerContent > .mdl-card__menu {
    color: #ffab40;
    }
    .mdl-card__supporting-text {
    color: #9e9e9e;
    }
>>>>>>> parent of c3f91b5... Mdl Table added
