<html ng-app="toDoApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- My Stylesheet CSS import -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Materialize CSS import -->
    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.css">
    <!-- Material-icons FONT import -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="theme-color" content="#9e9e9e">
    <title>Angular To-do</title>
</head>
<body ng-controller="MainController">

<div class="row">
    <div class="col s12 m6 l4">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <form ng-submit="save()">
                    <input ng-model="list.listTitle" type="text" class="card-title"/>
                </form>
                <table>
                    <tbody>
                    <!--<div ng-show="list.todos.length <= 0">-->
                        <!--<span class="sadFace">:(</span>-->
                        <!--<p>You have no tasks... add one!</p>-->
                    <!--</div>-->
                    <tr ng-repeat="todo in list.todos">
                        <td class="checkboxCol">
                            <input class="filled-in" id="chk{{$index}}" type="checkbox"/><label for="chk{{$index}}"></label>
                        </td>
                        <td class="textCol">
                            <form ng-submit="save()">
                                <input ng-model="todo.text" placeholder="Task text here..." class="todoInput" type="text"/>
                            </form>
                        </td>
                        <td class="delCol right-align">
                            <i ng-click="deleteTask($index)" class="material-icons white-text">delete</i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-action right-align">
                <a ng-click="addTodo()"><i class="material-icons">add_box</i></a>
            </div>
        </div>
    </div>
</div>

<!-- Jquery JS import -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<!-- Materialize JS import -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<!-- AngularJS JS import -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<!-- mainApp JS import -->
<script src="js/mainApp.js"></script>
</body>
</html>